<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Form</title>
    <link rel="stylesheet" href="./static/">
</head>
<body>
    <div>
        <form action="" name="myForm" method="POST">
            <label>Name</label>
            <input type="text" name="uname"><br>
            <label>Password</label>
            <input type="password" name="pwd"><br>
            <label>Email</label>
            <input type="email" name="mail"><br>
            <a href="/" id='but'>
        </form>
    </div>
</body>
</html>